.form-img {
  height: 100%;
  width: 45%;
  background-position: center;
  background-image: url("../images/bgs/bg-welcome3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-cta {
  text-decoration: none;
  color: #f1f1f1;
  background-color: #10606d;
  padding: 0.7em;
  border-radius: 0.5em;
  justify-content: center;
  font-weight: 600;
  list-style: none;
  transition: 500ms;
}

.btn-cta:hover {
  text-decoration: underline;
  padding: 0.7em 8em;
  border-radius: 1em;
}
