/*

Ppal:#62E9FF 
Scdr: #32A1B3 
Trcr: #FF7ABA 
#FFEB47
*/
html {
  scroll-behavior: smooth;
}

h2,
h3 {
  color: black;
}

/* Estilos Catálogo */

button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

.thumbs {
  border: 2px solid transparent;
  transition: 200ms;
}

.thumbs:hover {
  border: 2px solid #ffeb47;
  border-radius: var(--bs-border-radius);
}

.seleccionado {
  border: 2px solid #ffeb47;
  border-radius: var(--bs-border-radius);
  position: relative;
  transition: ease-in-out 300ms;
}

.seleccionado::after {
  content: "";
  filter: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 235, 71, 0.8);
}

#thumbnails {
  white-space: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  background-color: #32a1b3;
  border: 2px solid #ffeb47;
  border-radius: 12px;
}

#thumbnails::-webkit-scrollbar {
  height: 10px;
  border-radius: 10px;
}

#thumbnails::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 0 0 10px 10px;
}

#thumbnails::-webkit-scrollbar-thumb {
  height: 5px;
  background-color: #ffeb47;
  border-radius: 0 0 10px 10px;
}

#catalogo {
  background-color: #62e9ff;
}

/* Estilos Wizard */

#reservas {
  background-color: #47ff56;
}

#reservas-thumbnails {
  white-space: nowrap;
  scroll-behavior: smooth;
  background-color: #32a1b3;
  border: 2px solid #ffeb47;
  border-radius: 12px;
}

/* Estilos para el formulario */
form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

form textarea {
  height: 150px;
}

form button[type="submit"] {
  background-color: #62e9ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #005454;
}

/* Estilos para el pie de página */
footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  border-top: 2px solid #008080;
}

/* Botones Sociales + flechas */

/*.social {position:fixed;left:123px;top:371px;z-index:2000;} */
.social {
  position: fixed;
  left: 0px;
  top: 371px;
  z-index: 2000;
}
.social a {
  display: inline-block;
  color: #fff;
  background: #000;
  font-size: 22px;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.social ul {
  list-style: none;
  margin: 0px;
}

.social ul li .icon-facebook {
  background: #3b5998;
}
.social ul li .icon-twitter {
  background: #00abf0;
}
.social ul li .icon-google-plus {
  background: #ae181f;
}
.social ul li .icon-whatsapp {
  background: #00e676;
}
.social ul li .icon-tumblr {
  background: #36465d;
}
.social ul li a:hover {
  padding: 10px 30px;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "Compucalitv" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media all and (max-width: 1100px) {
  .social {
    position: static;
    margin-bottom: 50px;
  }
  .social ul li {
    float: left;
  }
  .simplescrollup__button i {
    color: #014464;
  }
}
